/*--------------------------------------------------------------
# customizer layout animated border style
--------------------------------------------------------------*/
#pt-img-container .pt-radio-img-img {
    border: 3px solid #DEDEDE;
    margin: 0 5px 5px 0;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#pt-img-container .pt-radio-img-selected {
    border: 3px solid #AAA;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
input[type=checkbox]:before {
    content: '';
    margin: -3px 0 0 -4px;
}

/*
# Layout Selector
---------------------------*/
#customize-control-courtyard_post_global_sidebar #pt-img-container li,
#customize-control-courtyard_page_global_sidebar #pt-img-container li,
#customize-control-courtyard_blog_global_sidebar #pt-img-container li,
#customize-control-courtyard_woocommerce_blog_section #pt-img-container li,
#customize-control-courtyard_woocommerce_product_sidebar #pt-img-container li,
#customize-control-courtyard_footer_widget_area_layout #pt-img-container li {
    display: inline-block !important;
    margin: 15px 12px 0 0;
    width: 80px;
    height: 55px;
    overflow: hidden;
}

#customize-control-courtyard_post_global_sidebar #pt-img-container li:nth-of-type(3),
#customize-control-courtyard_post_global_sidebar #pt-img-container li:nth-of-type(6),
#customize-control-courtyard_page_global_sidebar #pt-img-container li:nth-of-type(3),
#customize-control-courtyard_page_global_sidebar #pt-img-container li:nth-of-type(6),
#customize-control-courtyard_blog_global_sidebar #pt-img-container li:nth-of-type(3),
#customize-control-courtyard_blog_global_sidebar #pt-img-container li:nth-of-type(6),
#customize-control-courtyard_woocommerce_blog_sidebar #pt-img-container li:nth-of-type(3),
#customize-control-courtyard_woocommerce_blog_sidebar #pt-img-container li:nth-of-type(6),
#customize-control-courtyard_woocommerce_product_sidebar #pt-img-container li:nth-of-type(3),
#customize-control-courtyard_woocommerce_product_sidebar #pt-img-container li:nth-of-type(6),
#customize-control-courtyard_footer_widget_area_layout #pt-img-container li:nth-of-type(3),
#customize-control-courtyard_footer_widget_area_layout #pt-img-container li:nth-of-type(6) {
    margin-right: 0;
}

#customize-control-courtyard_post_global_sidebar.customize-control-radio label,
#customize-control-courtyard_page_global_sidebar.customize-control-radio label,
#customize-control-courtyard_blog_global_sidebar.customize-control-radio label,
#customize-control-courtyard_woocommerce_blog_sidebar.customize-control-radio label,
#customize-control-courtyard_woocommerce_product_sidebar.customize-control-radio label,
#customize-control-courtyard_footer_widget_area_layout.customize-control-radio label {
    margin: 0;
    padding: 0;
}

#customize-control-courtyard_post_global_sidebar .pt-radio-img-img,
#customize-control-courtyard_page_global_sidebar .pt-radio-img-img,
#customize-control-courtyard_blog_global_sidebar .pt-radio-img-img,
#customize-control-courtyard_woocommerce_blog_sidebar .pt-radio-img-img,
#customize-control-courtyard_woocommerce_product_sidebar .pt-radio-img-img,
#customize-control-courtyard_footer_widget_area_layout .pt-radio-img-img {
    border: 3px solid #fff;
    margin: 0;
    border-radius: 0;
    opacity: .35;
    background: #fff;
}

#customize-control-courtyard_post_global_sidebar .pt-radio-img-selected,
#customize-control-courtyard_page_global_sidebar .pt-radio-img-selected,
#customize-control-courtyard_blog_global_sidebar .pt-radio-img-selected,
#customize-control-courtyard_woocommerce_blog_sidebar .pt-radio-img-selected,
#customize-control-courtyard_woocommerce_product_sidebar .pt-radio-img-selected,
#customize-control-courtyard_footer_widget_area_layout .pt-radio-img-selected {
    opacity: 1;
}

/*--------------------------------------------------------------
# Admin input
--------------------------------------------------------------*/
.clear {
    clear: both;
}
.pt-admin-input-wrap {
    margin-top: 15px;
}

.pt-admin-input-wrap:last-child {
    margin-bottom: 15px;
}

.pt-admin-input-wrap a {
    text-decoration: none;
}

.pt-admin-input-label {
    font-weight: 700;
    width: 96px;
    float: left;
    margin-top: 12px;
}

.pt-admin-input-holder {
    position: relative;

    float: right;

    width: calc(100% - 112px);
    margin-left: 16px;
}

.pt-admin-input-holder p {
    font-size: 12px;
    line-height: 16px;

    margin-top: 6px;

    color: #7b8690;
}

.pt-admin-input-wrap input[type='text'],
.pt-admin-input-wrap input[type='email'],
.pt-admin-input-wrap input[type='number'],
.pt-admin-input-wrap input[type='phone'],
.pt-admin-input-wrap input[type='password'],
.pt-admin-input-wrap input[type='url'],
.pt-admin-input-wrap input[type='number'],
.pt-admin-input-wrap select,
.pt-admin-input-wrap textarea {
    width: 100%;
    padding: 8px 10px;

    box-shadow: none;
}

.pt-admin-input-wrap select,
.pt-admin-input-wrap input[type='number'] {
    height: 38px;
}

.pt-admin-input-wrap img {
    max-width: calc( 100% - 115px );
    height: auto;
    margin-bottom: 15px;

    border: 6px solid #fff;
    box-shadow: 0 0 1px #ccc;
}

.pt-custom-media-button {
    margin: 0 96px;
    padding: 8px 20px;

    cursor: pointer;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;


    border: 2px dashed #ddd;
    border-radius: 3px;
    outline: none !important;
    background: #fdfdfd;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;
    color: #888;
}

.pt-custom-media-button:hover {
    border-color: #888;
    color: #555;
}

.pt-admin-radio-wrap {
    margin-top: -30px;
    padding-left: 102px;
}

.pt-admin-slider-wrap,
.pt-admin-logos-wrap {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-top: 15px;
    background: #fdfdfd;
}

.pt-admin-slider-wrap:last-child,
.pt-admin-logos-wrap:last-child {
    margin-bottom: 15px;
}

.pt-admin-testimonials {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.pt-admin-testimonials textarea {
    min-height: 100px;
}

/**
*   Styles for Customizer elements
*/
.wp-full-overlay-sidebar:after {
    background: #dcdfe3;
    width: 1px;
}

.wp-full-overlay-sidebar {
    background: #eef0f2;
    border-right: 0;
}

#customize-theme-controls .accordion-section-title {
    background: #eef0f2;
    border-bottom: 0;
    padding: 10px 0 10px 20px;
    transition: all .25s ease;
}

#customize-theme-controls .accordion-section-title:hover,
#customize-theme-controls .accordion-section-title:focus {
    background: #fdfdfe !important;
}

#customize-theme-controls .accordion-section-title:after {
    color: rgba(39,48,57,.4);
    font-size: 16px;
    top: 12px;
}

.expanded .wp-full-overlay-footer,
#customize-header-actions,
.customize-controls-close {
    border-color: #dcdfe3;
}

.customize-panel-back {
    height: 71px;
    border-right: 1px solid #eef0f2;
    border-bottom: 1px solid #eef0f2;
    background: #fff !important;
}

#customize-controls a {
    background: transparent;
    border: 0;
}

#customize-controls a:hover {
    background: #fdfdfe;
}

#customize-controls .customize-info {
    border: 0;
    margin-bottom: 0 !important;
}

#customize-controls .customize-info .preview-notice strong {
    font-weight: 500;
}

#customize-controls .customize-info .customize-help-toggle {
    display: none;
}

/* Image Upload
----------------------------------
*/
.customize-control .thumbnail-image {
    padding: 8px;
    margin: 10px 4px;
    background: #fff;
    box-shadow: 0 0 4px rgba(39,48,57,.4);
}

.customize-control .thumbnail-image img {
    border-radius: 0;
}

/*.customize-control-image .remove-button,*/
/*.customize-control-image .upload-button {*/
    /*color: rgba(39,48,57,.85 )!important;*/
    /*background: #fff!important;*/
    /*border-color: transparent !important;*/
    /*-webkit-box-shadow: none!important;*/
    /*box-shadow: none!important;*/
    /*text-shadow: none!important;*/
    /*border-radius: 20px;*/
    /*padding: 0 15px;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
/*}*/

/*.customize-control-image .remove-button {*/
    /*width: 110px;*/
/*}*/

/*.customize-control-image .upload-button {*/
    /*width: 140px;*/
/*}*/

#customize-theme-controls .control-section-themes {
    display: none !important;
}

#customize-controls .customize-info {
    margin-bottom: 10px;
}

.customize-control-title,
#customize-theme-controls .accordion-section-title {
    font-size: 13px;
}

.customize-control {
    margin-bottom: 10px;
}

.customize-control .wp-color-result {
    border: 1px solid #ccc !important;
}

.customize-control .wp-color-result:after {
    background: #fff;
}

/* Check Box
----------------------------------
*/
.customize-control-checkbox label {
    margin-left: 0;
}

.pt-checkbox-label {
    width: calc(100% - 48px);
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 600;
}

.customize-control.customize-control-checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

#customize-control-background_repeat.customize-control-checkbox input[type="checkbox"],
#customize-control-background_attachment.customize-control-checkbox input[type="checkbox"],
ul.menu-settings .customize-control-checkbox input[type="checkbox"] {
    position: relative;
    margin-left: auto;
    visibility: visible;
}

.pt-on-off-switch {
    display: inline-block;
    position: relative;
    width: 36px;
    margin-top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pt-on-off-switch-checkbox {
    display: none;
}

.pt-on-off-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 14px;
    padding: 0;
    line-height: 14px;
    border: 2px solid #a0acb9;
    border-radius: 14px;
    background-color: #a0acb9;
}

.pt-on-off-switch-label:before {
    content: "";
    display: block;
    width: 14px;
    margin: 0;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    border: 2px solid #a0acb9;
    border-radius: 14px;
    transition: all .15s ease-in-out;
}

.pt-on-off-switch-checkbox:checked + .pt-on-off-switch-label {
    background-color: #3498db;
}

.pt-on-off-switch-checkbox:checked + .pt-on-off-switch-label,
.pt-on-off-switch-checkbox:checked + .pt-on-off-switch-label:before {
    border-color: #3498db;
}

.pt-on-off-switch-checkbox:checked + .pt-on-off-switch-label:before {
    right: 0;
}

/* Form Elements
----------------------------------
*/
.customize-control select,
.customize-control input[type="text"],
.customize-control input[type="email"],
.customize-control input[type="number"],
.customize-control input[type="url"],
.customize-control input[type="search"],
.customize-control input[type="tel"],
.customize-control input[type="password"],
.customize-control input[type="date"],
.customize-control textarea,
.pt-customize-description {
    display: block;
    box-shadow: none;
    border: 1px solid #dcdfe3;
    width: 98%;
    padding: 6px 8px;
    height: auto;
}

.pt-customize-description {
    background: #fff;
    width: 92%;

}

/* Font Size
----------------------------------
*/
.pt-customizer-font {
    display: block;
}

.pt-customizer-font input[type="number"]{
    width: 60px;
    display: inline-block;
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #dcdfe3;
}

.pt-customizer-font input[type="range"]{
    width: calc(100% - 70px);
    height: 12px;
    display: inline-block;
    -webkit-appearance: none;
    margin: 10px 0;
    background: transparent;
}

.pt-customizer-font input[type=range]:focus {
    outline: none;
}

.pt-customizer-font input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #a0acb9;
    border-radius: 5px;
    border: 1px solid #a0acb9;
}

.pt-customizer-font input[type=range]::-webkit-slider-thumb {
    border: 1px solid #617080;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #617080;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

.pt-customizer-font input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a0acb9;
}

.pt-customizer-font input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #a0acb9;
    border-radius: 5px;
    border: 1px solid #a0acb9;
}

.pt-customizer-font input[type=range]::-moz-range-thumb {
    border: 1px solid #617080;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #617080;
    cursor: pointer;
}

.pt-customizer-font input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.pt-customizer-font input[type=range]::-ms-fill-lower {
    background: #a0acb9;
    border: 1px solid #a0acb9;
    border-radius: 10px;
}

.pt-customizer-font input[type=range]::-ms-fill-upper {
    background: #a0acb9;
    border: 1px solid #a0acb9;
    border-radius: 10px;
}

.pt-customizer-font input[type=range]::-ms-thumb {
    border: 1px solid #617080;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #617080;
    cursor: pointer;
}

.pt-customizer-font input[type=range]:focus::-ms-fill-lower {
    background: #a0acb9;
}

.pt-customizer-font input[type=range]:focus::-ms-fill-upper {
    background: #a0acb9;
}

/* Layout
----------------------------------
*/
.courtyard-layout-title {
    font-weight: bold;
}


.courtyard-checked {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: yellow;
}


/* Theme Color
----------------------------------
*/
#customize-control-courtyard_theme_color input[type="radio"] {
    display:none;
}

#customize-control-courtyard_theme_color input[type="radio"] + label {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    float: left;
    margin: 0 15px 15px 0;
    font-size: 0;
    padding: 0;
}

#customize-control-courtyard_theme_color label .courtyard-radio-color {
    margin-top: -20px;
    width: 48px;
    height: 48px;
    background: #666;
    display: block;
    position: relative;
    border-radius: 3px;
}

.courtyard-color-checked {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0 0 0 3px;
}

.courtyard-color-checked:after {
    position: absolute;
    content: '\f147';
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: 'dashicons';
}

#customize-control-courtyard_theme_color input[type="radio"]:checked + label {
    box-shadow: 0 0 0 3px #fff;
    border-radius: 3px;
}

#customize-control-courtyard_theme_color input[type="radio"]:checked + label .courtyard-color-checked {
    display: block;
}

#customize-control-courtyard_theme_color label[for="default"] .courtyard-radio-color {
    background: url("../../images/default.png");
}

#customize-control-courtyard_theme_color label[for="watermelon"] .courtyard-radio-color {
    background: url("../../images/watermelon.png");
}

#customize-control-courtyard_theme_color label[for="red"] .courtyard-radio-color {
    background: url("../../images/red.png");
}

#customize-control-courtyard_theme_color label[for="orange"] .courtyard-radio-color {
    background: url("../../images/orange.png");
}

#customize-control-courtyard_theme_color label[for="yellow"] .courtyard-radio-color {
    background: url("../../images/yellow.png");
}

#customize-control-courtyard_theme_color label[for="lime"] .courtyard-radio-color {
    background: url("../../images/lime.png");
}

#customize-control-courtyard_theme_color label[for="green"] .courtyard-radio-color {
    background: url("../../images/green.png");
}

#customize-control-courtyard_theme_color label[for="mint"] .courtyard-radio-color {
    background: url("../../images/mint.png");
}

#customize-control-courtyard_theme_color label[for="teal"] .courtyard-radio-color {
    background: url("../../images/teal.png");
}

#customize-control-courtyard_theme_color label[for="sky-blue"] .courtyard-radio-color {
    background: url("../../images/sky-blue.png");
}

#customize-control-courtyard_theme_color label[for="blue"] .courtyard-radio-color {
    background: url("../../images/blue.png");
}

#customize-control-courtyard_theme_color label[for="purple"] .courtyard-radio-color {
    background: url("../../images/purple.png");
}

#customize-control-courtyard_theme_color label[for="pink"] .courtyard-radio-color {
    background: url("../../images/pink.png");
}

#customize-control-courtyard_theme_color label[for="magenta"] .courtyard-radio-color {
    background: url("../../images/magenta.png");
}

#customize-control-courtyard_theme_color label[for="plum"] .courtyard-radio-color {
    background: url("../../images/plum.png");
}

#customize-control-courtyard_theme_color label[for="maroon"] .courtyard-radio-color {
    background: url("../../images/maroon.png");
}

/* Help & Supports
----------------------------------
*/
.pt-customizer-supports {
    font-size: 14px;
    line-height: 1.6em;
}

.pt-customizer-supports li {
    display: block;
}

.pt-customizer-supports li a {
    display: inline-block;
    background: transparent;
    padding: 5px 10px;
    color: #3498db;
}

.pt-customizer-supports li a:hover {
    background: transparent !important;
    color: #2784c3;
}

.pt-customizer-stars {
    color: #e7b906;
}
